@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import 'bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import 'vue-toastification/dist/index.css';

body {
  background: #f1f1f1;
  font-family: 'Inter', sans-serif;
}
.pagination {
  --bs-pagination-color: #193b4d;
  --bs-pagination-active-bg: #193b4d;
  --bs-pagination-active-border-color: #193b4d;
  --bs-pagination-hover-color: #193b4d;
  --bs-pagination-focus-box-shadow: none;
}

:root {
  --bs-heading-color: #193b4d;
}
@media (min-width: 768px) and (max-width: 1350px) {
  .app-kiosk #app {
    zoom: 125%;
  }
}
@media (max-width: 1024px) {
  .btn {
    min-height: 38px;
    --bs-btn-font-size: 14px;
  }
}
@media print {
  .sidebar,
  .pagination,
  .centre-name {
    display: none !important;
  }
  .main-container {
    height: 100% !important;
  }
}

.badge-red {
  background: #fdf2f1;
  border: 1px solid #dd2526;
  color: #dd2526;
}
.badge-grey {
  background: #fcfcfc;
  border: 1px solid #6c757d;
  color: #6c757d;
}
.cursor-pointer {
  cursor: pointer;
}
.badge-green {
  background: #f1faf5;
  border: 1px solid #0a9650;
  color: #0a9650;
}

.badge-blue {
  background: #ecf3fd;
  border: 1px solid #417ddf;
  color: #417ddf;
}
.badge-yellow {
  background: #fffaeb;
  border: 1px solid #946c00;
  color: #946c00;
}

.flex-1 {
  flex: 1;
}

.p-datatable-table-container {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.p-datatable-paginator-bottom {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.payment-table thead tr th {
  background-color: #ff6961;
  color: white !important;
}
.p-datatable-header-cell {
  padding: 5px 10px !important;
  // font-size: 12px;
}
.p-datatable-tbody > tr > td {
  padding: 5px 10px !important;
  // font-size: 12px;
}
.p-datatable-tbody > tr > td .btn {
  // font-size: 12px;
}
@media (min-width: 700px) {
  .modal {
    padding-inline: 20px;
    .modal-lg,
    .modal-xl {
      --bs-modal-width: 800px;
    }
  }
}
